# files being edited
*~
# make and build files
*.o
*.orig
*.h.gch
Debug
Release
ipch
x64
*.VC.db
*.VC.VC*.opendb
.vs
*.sdf
*.v12.suo


# build which you create manually for cmake building (pprobably dont need a lot of the other stuff in this file)
build/

# tags file for vim
tags

